@import url("https://use.typekit.net/ick1wdz.css");


h1 {
    font-family: "futura-pt-bold", sans-serif;
    color: white;
    font-weight: 700;
    font-style: normal;
}

.bg {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.093), rgba(245, 246, 252, 0.093),  rgba(0, 0, 0, 0.401)),
    url("https://picsum.photos/1920/1080");

    background-size: cover;
    background-position: top;
    min-height: 100%;
    height: 100vh;
    position: relative;
}

.box {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}

#main-title-contain {
    text-align: center;
    font-family: "futura-pt-bold", sans-serif;
    font-weight: 700;
    font-style: normal;
}


#main-title {
    font-size: 127px;
}

.line {
    width: 612px;
    height: 10px;
}

#main-tagline {
    font-size: 30px;
    color: white;
}