#ESC {
  font-size: 35px;
}

.goback {
    position: fixed;
    right: 38px;
    z-index: 5;
}

.wipes {
  overflow: hidden;
}

.bg-img {
  
  width: 100%;
  /* height: 100vh; */
}

#pinContainer {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  #pinContainer .panel {
    height: 100vh;
    width: 100vw;
    position: absolute;
    text-align: center;
  }
  .panel span {
    top: 50%;
    font-size: 80px;
    font-family: "futura-pt-bold", sans-serif;
    color: white;
    font-weight: bold;
  }

  .panel {
    background: none;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .panel img {
    box-shadow: 0px 0px 20vh rgb(0, 0, 0);
  }

  .panel p {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
    max-width: 70%;
    font-family: "futura-pt-bold", sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.514);
    box-shadow: 0px 0px 9px rgb(0, 0, 0);
  }
  
  .panel.gov1 {
    background-image: url('img/gov/1Lewis-03112023-SAT-225.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .panel.gov2 {
    background-image: url('img/gov/2Lewis-03112023-SAT-163.jpg');
  }
  .panel.gov3 {
    background-image: url('img/gov/3Lewis-03112023-SAT-255.jpg');
  }
  .panel.gov4 {
    background-image: url('img/gov/4Lewis-03112023-SAT2-115.jpg');
  }
  .panel.gov5 {
    background-image: url('img/gov/5Lewis-03112023-SAT-59.jpg');
  }
  .panel.gov6 {
    background-image: url('img/gov/6Lewis-03112023-SAT2-13.jpg');
  }
  .panel.gov7 {
    background-image: url('img/gov/7LEWIS-03152023-WED-5.jpg');
  }
  .panel.gov8 {
    background-image: url('img/gov/8LEWIS-03152023-WED-125.jpg');
  }
  .panel.gov9 {
    background-image: url('img/gov/9LEWIS-03152023-WED-67.jpg');
  }
  .panel.gov10 {
    background-image: url('img/gov/10LEWIS-03122023-SUN-182.jpg');
  }
  .panel.gov11 {
    background-image: url('img/gov/11LEWIS-03152023-WED-292.jpg');
  }
  .panel.gov12 {
    background-image: url('img/gov/12LEWIS-03152023-WED-307.jpg');
  }
  .panel.gov13 {
    background-image: url('img/gov/13LEWIS-03152023-WED-197.jpg');
  }
  .panel.gov14 {
    background-image: url('img/gov/14LEWIS-03152023-WED-230.jpg');
  }
  .panel.gov15 {
    background-image: url('img/gov/15Lewis-03102023-FRI-32.jpg');
  }
  .panel.gov16 {
    background-image: url('img/gov/16Lewis-03132023-MON-125.jpg');
  }
  .panel.gov17 {
    background-image: url('img/gov/17Lewis-03132023-MON-222.jpg');
  }
  
  .panel.turqoise {
    background-color: #38ced7;
  }

  .panel.black {
    background-color: black;
  }


  
  .panel.green {
    background-color: #22d659;
  }
  
  .panel.bordeaux {
    background-color: #953543;
  }