.post-grid {
    margin-top: 125px;
    width: 100vw;
    display: grid;
    grid-template-areas: 
    'mar body mar';
  grid-template-columns: 200fr 310fr 900fr 295fr 215fr;
  grid-gap: 8px;
}

.byline {
    margin-left: 5vw;
}

.byline > p {
  font-size: 1.08vw;
}

.post-text {
  position: relative;
  top: -20px;
}

.post-text > p {
  font-size: 19px;
}


/* SECTION SUBHEAD */
.circle-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 0;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 5px;
  margin-bottom: 0;
}

.yellow {
  background-color: #f3cb47;
}

.orange {
  background-color: #FFAD00;
}

.red {
  background-color: #FF6600;
}

.cyan {
  background-color: #3EAAA7;
}

.blue {
  background-color: #004E65;
}

.section-wrapper {
  position: relative;
  padding-top: 4.9vh;
  padding-bottom: 50vh;
}

#section {
  position: absolute;
  left: -27.08vw;
  width: 100vw; 
  height: 40vh;
  background-repeat: no-repeat;
  background-position: center 44%; 
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subhead {
  color: white;
  font-size: 4em;
  letter-spacing: 0.75px;
  backdrop-filter: none;
}


/* Pullquote */
.quote-wrapper-rel {
  position: relative;
  padding-bottom: 35vh;
}

.quote-wrapper-abs {
  position: absolute;
  width: 70vw;
  left: -16vw;
}

.big-quote {
  display: flex;
  justify-content: left
}

.quote-svg {
  margin-right: 2px;
}

.quote-txt {
  font-weight: bold!important;
  margin-top: 8%;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
}

.quote-auth {
  font-size: 24px;
  font-weight: 400!important;
  text-align: right;
  margin: 0;
}




/* VIDEO PLAYER */
.video-container {
  grid-column: 1 / -1;
  position: relative;
  overflow: visible;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 110vh;
}


#playa, #explain-playa {
  position: absolute;
  right: 0;
  margin: auto;
  width: 90vw;
  height: 90vh;
}

#playa {
  left: -22vw;
  margin-top: 10%;
}

#explain-playa {
  left: 0;
}

.vid-btn {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: none;
  border: none;
}

.fa-play, .fa-pause {
  font-size: 6em;
}

.vid-btn .fa-pause {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.vid-btn:hover .fa-pause {
  opacity: 1;
}

.vid-title {
  position: absolute;
  left: 2vw;
  bottom: 5vh;
  font-size: 3em;
}

#relat {
  position: relative;
}



/* READ MORE */
.read-more {
  text-align: center;
  padding-bottom: 70px;
}

.more-thumbs > a {
  cursor: pointer;
  margin: 10px;
}

.more-thumbs > a > img {
  width: 21%;
}