@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Roboto:wght@300&display=swap');
@import url('https://use.typekit.net/ick1wdz.css');
@import 'storyPage.css';
@import 'nav.css';
@import 'header.css';


body, html {
    margin: 0;
}


p, h2, h3, h4, h5, .wp-element-caption {
    font-family: "americane", sans-serif;
    font-style: bold;
  }

  h1 {
    font-weight: 700;
  }

  p {
    font-weight: 400;
  }


.main-about {
    margin-top: 0;
    font-size: 50px;
}

.split-bg {
    display: flex;
}

.halfground {
    background-color: rgb(0, 81, 151);
    width: 50vw;
    min-height: 100vh;
}


.halfground-text {
    /* padding: 1vw; */
    background-color: red;
    width: 50vw;
    min-height: 100vh;
}

.home-link {
    display: none;
}

.home-link-name {
    display: none;
}

#storybox-container {
    display: flex;
    min-height: 80vh;
}

.storybox {
    min-width: 20%;
    border: 1px solid blue;
}

.cntr-txt {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

#Healthcare {
    background-image: none;
background-color: rgb(255, 188, 188);}
#Power {
    background-image: none;
background-color: blanchedalmond;}
#Governance {
    background-image: none;
background-color: rgb(170, 251, 224);}
#Community {
    background-image: none;
background-color: lightblue;}
#Environment {
    background-image: none;
background-color: lightgray;}


.center-content {
    margin: 5%;
    display: flex;
    justify-content: center;
}


